<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="No.1 best seller of clothings and accessories">

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" type="text/css"> -->

    <link rel='stylesheet' href='/stylesheets/lib.css' />

    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

    <link rel='stylesheet' type="text/css" href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <header class="widehomeheader">
        <%- include("../templates/usernav")%>
            <div class="container bg">
                <div class="slide active one">
                    <div class="slides d-flex align-items-center">
                        <div class="imgs">
                            <img src="/images/gown2.png" alt="" srcset="" style="height: 250px;">
                            <img src="/images/bg/men.png" alt="" srcset="">
                            <img src="/images/bg/kid.png" alt="" srcset="" style="width: 250px;">
                        </div>
                        <div class="text ms-5 text-white">
                            <h2 class="text-45 text-warning"> Choose your clothes</h2>
                            <h3>from adults to kids wears</h3>
                        </div>
                    </div>

                </div>

                <div class="slide next two">
                    <div class="slides d-flex align-items-center">
                        <div class="imgs">
                            <img src="/images/pixiu-ring.png" alt="" srcset="" style="height: 200px;">
                            <img src="/images/ring2.png" alt="" srcset="">
                            <img src="/images/ring1.png" alt="" srcset="" style="height: 200px; ">
                        </div>
                        <div class="text ms-5 text-white">
                            <h2 class="text-45 text-warning"> Wedding just got better</h2>
                            <h3>pick the right fit for your partner</h3>
                        </div>
                    </div>

                </div>


                <div class="slide next three">
                    <div class="slides d-flex align-items-center">
                        <div class="imgs">
                            <img src="/images/foot.jpg" alt="" srcset="" style="height: 250px;">
                            <img src="/images/boot.png" alt="" srcset="" style="height: 230px;">
                            <img src="/images/kids.png" alt="" srcset="" style="width: 220px; height: 230px;">
                        </div>
                        <div class="text ms-5 text-white">
                            <h2 class="text-45 text-warning"> Footwares classified</h2>
                            <h3>from adults to kids wears</h3>
                        </div>
                    </div>

                </div>

            </div>
    </header>

    <main style="position: relative; top: -40px; border-radius: 50px 50px 0 0; background-color: white;" class="pt-4">
        <section class="d-flex container-fluid pt-5">
            <article class="aside ms-2 shadow">
                <div class="container text-center ">
                    <h4>Footwares</h4>
                    <ul>
                        <li>Men</li>
                        <li>Women</li>
                        <li>Kids</li>
                    </ul>
                    <h4 class="mt-1">Jewelries</h4>
                    <ul>
                        <li>Necklaces</li>
                        <li>Wrist Chains</li>
                        <li>Watches</li>
                    </ul>

                    <h4 class="mt-1">Clothes</h4>
                    <ul>
                        <li>Men</li>
                        <li>Women</li>
                        <li>Kids</li>
                    </ul>
                </div>
            </article>

            <section class="justify-self-center ps-5" style="width: 90%;" id="categories">
                <h3 class="text-30 text-center">Shop by Category</h3>

                <div class="row justify-content-around">
                    <div class="card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0" id="byproducts">
                        <img src="/images/boot.png" alt="" class="">
                        <h4 class="text-22 text-center">Footwares</h4>
                    </div>
                    <div class="card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">
                        <img src="/images/pixiu-ring.png" alt="" class="">
                        <h4 class="text-22 text-center">Jewelries</h4>
                    </div>
                    <div class="card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">
                        <img src="/images/menhood.png" alt="" class="">
                        <h4 class="text-22 text-center">Clothings</h4>
                    </div>
                </div>
                <div class="container d-flex mt-5">
                    <button class="btn bg-pink text-20 w-75 " style="border-bottom-right-radius: 0%; border-top-right-radius: 0%;">Most Shopped <i class="fas fa-cart-plus"></i></button>
                    <button class="btn bg-pink-focus w-75 text-20" style="border-radius: 0%">Most Viewed <i class="far fa-eye"></i></button>
                    <button class="btn bg-pink w-75 text-20" style="border-bottom-left-radius: 0%; border-top-left-radius: 0%;">Most Purchased <i class="far fa-money-bill-alt"></i></button>
                </div>
            </section>
        </section>

        <section id="best-selling" class="justify-self-center mt-5 container-fluid">
            <div class="d-flex justify-content-around pt-5">

                <hr class="text-black w-75">
                <h3 class="text-25 text-center text-bold">New stocks</h3>
            </div>


            <div class="row justify-content-around">
                <!-- First product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">New stock</span>
                    <img src="images/ring2.png" style="width:100%" alt="" srcset="">
                    <h4 class="text-20 text-center mb-0">Couples Twist</h4>
                    <p class="text-18 mb-0 text-center">twisted ring for wedding or engaging</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <span>4.0/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;9000 </h6>
                        <h6 class="text-16"><b>2</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Second product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">New stock</span>
                    <img src="/images/ring1.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Twin steel</h4>
                    <p class="text-18 mb-0 text-center">perfect luxury ring specially for weddings</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star  text-warning"></i>
                        <span>5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;15000 </h6>
                        <h6 class="text-16"><b>3</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Third product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">New stock</span>
                    <img src="/images/kids.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Vans 05</h4>
                    <p class="text-18 mb-0 text-center">made for sports and specifically for tennis</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt text-warning"></i><i class="far fa-star  text-warning"></i>
                        <span>3.5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;5000 </h6>
                        <h6 class="text-16"><b>10</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Last product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">New stock</span>
                    <img src="/images/pixiu-ring.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Pixiu ring</h4>
                    <p class="text-18 mb-0 text-center">unisex egyptian monster head fashion ring </p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <span>3.0/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;3500 </h6>
                        <h6 class="text-16"><b>4</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

            </div>
        </section>

        <section class="top-deals justify-self-center mt-5 container-fluid">
            <div class="d-flex justify-content-around pt-5">
                <h3 class="text-25 text-center text-bold">Top deals</h3>
                <hr class="text-black w-75">
            </div>


            <div class="row justify-content-around">
                <!-- First product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">
                    <img src="/images/boot.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Classic adidas</h4>
                    <p class="text-18 mb-0 text-center">men wears for comfort and easiness</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <span>4.5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;5000 </h6>
                        <h6 class="text-16"><b>10</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Second product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">
                    <img src="/images/pixiu-ring.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Pixiu ring</h4>
                    <p class="text-18 mb-0 text-center">unisex egyptian monster head fashion ring </p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <span>4.0/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;3500 </h6>
                        <h6 class="text-16"><b>4</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Third product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">

                    <img src="images/ring2.png" style="width:100%" alt="" srcset="">
                    <h4 class="text-20 text-center mb-0">Couples Twist</h4>
                    <p class="text-18 mb-0 text-center">twisted ring for wedding or engaging</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star  text-warning"></i>
                        <span>5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;9000 </h6>
                        <h6 class="text-16"><b>2</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Last product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0">
                    <img src="/images/ring1.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Twin steel</h4>
                    <p class="text-18 mb-0 text-center">perfect luxury ring specially for weddings</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <span>5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;15000 </h6>
                        <h6 class="text-16"><b>3</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>
            </div>
        </section>

        <section class="row justify-content-center container-fluid mt-5 pt-5" id="discount">
            <div class="card shadow col-sm-11 col-lg-5 d-flex flex-row align-items-center me-0 me-lg-5 discount">
                <div class="">
                    <h6 class="text-45">Shop for discounts</h6>
                    <p class="text-30">Up to <span class="text-pink">40%</span> Off</p>
                </div>
                <div class="pt-1">
                    <img src="/images/menhood.png" alt="" srcset="">
                    <img src="/images/kids.png" alt="">
                </div>
            </div>

            <div class="card shadow col-sm-11 col-lg-6 d-flex flex-row align-items-center gender mt-sm-5 mt-lg-0">
                <div class="pt-1 d-flex flex-row">
                    <img src="/images/man.png" alt="" srcset="">
                    <img src="/images/kid.png" alt="" class="me-0">
                    <img src="/images/woman.png" alt="" class="ms-0">
                </div>
                <div class="">
                    <h6 class="text-40">Shop by gender</h6>
                    <p class="text-30">Adults <span class="text-pink">and</span> kids</p>
                </div>
            </div>
        </section>

        <section id="best-selling" class="justify-self-center mt-5 container-fluid">
            <div class="d-flex justify-content-around pt-5">

                <hr class="text-black w-75">
                <h3 class="text-25 text-center text-bold">Best selling</h3>
            </div>


            <div class="row justify-content-around">
                <!-- First product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">Best selling</span>
                    <img src="/images/boot.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Classic adidas</h4>
                    <p class="text-18 mb-0 text-center">men wears for comfort and easiness</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <span>4.5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;5000 </h6>
                        <h6 class="text-16"><b>10</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Second product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">Best selling</span>
                    <img src="/images/pixiu-ring.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Pixiu ring</h4>
                    <p class="text-18 mb-0 text-center">unisex egyptian monster head fashion ring </p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <span>4.0/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;3500 </h6>
                        <h6 class="text-16"><b>4</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Third product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">Best selling</span>
                    <img src="images/ring2.png" style="width:100%" alt="" srcset="">
                    <h4 class="text-20 text-center mb-0">Couples Twist</h4>
                    <p class="text-18 mb-0 text-center">twisted ring for wedding or engaging</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star  text-warning"></i>
                        <span>5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;9000 </h6>
                        <h6 class="text-16"><b>2</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>

                <!-- Last product -->
                <div class="pb-2 card shadow col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5 d-flex justify-content-center align-items-center border-0 item">
                    <span class="label bg-pink-focus px-2 text-14">Best selling</span>
                    <img src="/images/ring1.png" alt="" class="">
                    <h4 class="text-20 text-center mb-0">Twin steel</h4>
                    <p class="text-18 mb-0 text-center">perfect luxury ring specially for weddings</p>
                    <div class="mt-0">
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <span>5/5</span>
                    </div>
                    <div class="d-flex flex- justify-content-center align-items-center w-75">
                        <h6 class="price text-18 me-2" style="font-weight: 400 !important;">&#x20a6;15000 </h6>
                        <h6 class="text-16"><b>3</b> in stock</h6>
                    </div>
                    <button class="btn btn-warning text-20 w-100">View item</button>
                </div>
            </div>
        </section>
        </section>
    </main>

    <%- include("../templates/footer")%>
        </main>
        <script src="javascripts/jquery.min.js"></script>
        <!-- <script src="javascripts/app.js"></script> -->
        <script src="javascripts/bootstrap.bundle.min.js"></script>

        <script>
            function tag(e) {
                return document.querySelector(e)
            }

            let f = '',
                l = '',
                arr = [];
            setInterval(() => {

                f = tag(".bg .active");
                f.classList.replace("active", 'prev');
                // arr.push(f);
                l = tag(".bg .next");
                arr.push(f);
                l.classList.replace("next", 'active');
                console.log(f, l);

                setTimeout(() => {
                        f.remove();
                        arr[0].classList.replace('prev', 'next');
                        tag('.bg').appendChild(arr[0]);
                        console.log(arr);
                        arr.pop();

                        console.log(arr);
                    }, 1000)
                    // tag(".s0").style.transform = 'translateX(-100%)'

            }, 3000)
        </script>


</body>

</html>