<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="No.1 best seller of clothings and accessories">

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" type="text/css"> -->

    <link rel='stylesheet' href='/stylesheets/lib.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <header style="padding-bottom: 150px;" id="index-header">

        <%- include("../templates/navbar")%>
            <img class="img-fluid" src="images/blob.png" alt="Gold chain on a black ornament" srcset=" " id="blob">
            <section class="container mt-5">
                <div class="row align-items-center d-flex mx-auto justify-content-center">
                    <div class="col-sm-5">
                        <h1 class="light-text d-inline text-50"> Your no.1 best seller of all kinds of product ranging from and not limited to <span class="d-flex flex-column "><strong class="text-warning changing-text"><span>Jewelries</span></strong> <span class="slantLine bg-warning "></span></span>
                        </h1>
                    </div>
                    <div class="justify-content-center  col-sm-5 mt-small-3 mt-5 mt-sm-0 ms-sm-5 img-con">
                        <img class="img-flui" src="images/gold.png" alt="Gold chain on a black ornament" srcset=" ">

                    </div>


                </div>


            </section>
    </header>
    <main class="pb-5" id="indexpagemain">
        <section class="pb-5">
            <div class="text-center px-3">
                <h1 style="padding-top: 2em;" class="text-40">We have what you need</h1>
                <p class="text-25">Whether men or women accessories, we have them.</p>
            </div>

            <div class="pt-3 container row align-items-center justify-content-between">
                <img src="images/dark-splash.png" class="ps-5 col-sm-5 mt-5" alt="" srcset="">
                <div class="col-sm-5 text-xs-center-lib mt-5 mt-sm-0">
                    <h3 class="text-35">Create an account</h3>
                    <p class="text-25">New user ? not to worry you can get started by creating an account with us to enjoy our amazing offers that awaits you.</p>
                    <a href='/user/new' class="btn btn-warning w-50 text-20 ">Sign up</a>
                </div>
            </div>
        </section>

        <section class=" px-5 py-5 mt-0" id="products" style="background-color: #eee; ">
            <h1 class="text-center"> Our Product at a glance</h1>

            <div class="row justify-content-around ">
                <div class="card col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mt-5 col-5" style="border-radius: 15px !important;">
                    <div class="card-img">
                        <img src="images/ring2.png" style="width:100%" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title"> Curvy Steel Ring</h4>
                        <div class="flex flex-row ">
                            <h6 class="mr-5">Category:</h6>
                            <p class="p-mobile">Mens > Jewelries</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <h6 class="price"> &#x20a6;5000</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>

                <div class="card col-sm-3 col-5 col-lg-3 col-xl-3 col-xxl-2 mx-xl-1 mx-xxl- mx-1 mt-5 col-5" style="border-radius: 15px !important; ">
                    <div class="card-img">
                        <img src="images/ring1.png" style="width:100%" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title"> Twin Steel Ring</h4>
                        <div class="flex flex-row ">
                            <h6 class="mr-5">Category:</h6>
                            <p class="p-mobile">Women > Jewelries</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star  text-warning"></i>
                        <h6 class="price"> &#x20a6;8500</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>


                <div class="card col-5 col-sm-3 col-lg-3 col-xl-3 col-xxl-2 mx-xl-0 col-5 mt-5  " style="border-radius: 15px !important; ">
                    <div class="card-img">
                        <img src="images/pixiu-ring.png" style="width:100%" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title"> Pixiu Ring</h4>
                        <div class="flex flex-row ">
                            <h6 class="mr-5">Category:</h6>
                            <p class="p-mobile">Men > Jewelries</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <h6 class="price"> &#x20a6;6500</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>

                <div class="card col-sm-6 col-5 col-lg-3 col-xl-3 col-xxl-2  mt-5" style="border-radius: 15px !important; ">
                    <div class="card-img">
                        <img src="images/menhood.png" style="width:100%;" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title">Men Hood</h4>
                        <div class="flex flex-row">
                            <h6 class="mr-5 ">Category:</h6>
                            <p class="p-mobile">Men > Clothings</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half-alt  text-warning"></i>
                        <h6 class="price"> &#x20a6;4500</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>

                <div class="card col-sm-6 col-5 col-lg-3 col-xl-3 col-xxl-2 mx-xl-1 mx-xxl- mt-5  " style="border-radius: 15px !important; ">
                    <div class="card-img">
                        <img src="images/men.png" style="width:100%" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title"> Italian Vigo</h4>
                        <div class="flex flex-row ">
                            <h6 class="mr-5">Category:</h6>
                            <p class="p-mobile">Men > Footwares</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star  text-warning"></i>
                        <h6 class="price"> &#x20a6;12500</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>


                <div class="card col-5 col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mt-5  " style="border-radius: 15px !important; ">
                    <div class="card-img">
                        <img src="images/andromeda-neckalce.png" style="width:100%" alt="" srcset="">
                    </div>
                    <div class="card-body borde border-top ">
                        <h4 class="card-title"> Andromeda Necklace</h4>
                        <div class="flex flex-row ">
                            <h6 class="mr-5">Category:</h6>
                            <p class="p-mobile">Women > Necklaces</p>

                        </div>
                        <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="far fa-star  text-warning"></i>
                        <h6 class="price"> &#x20a6;3500</h6>
                    </div>
                    <div class="card-footer  border-0 bg-transparent">
                        <button class="btn btn-warning w-100 text-20">Add to cart</button>
                    </div>
                </div>
            </div>
        </section>


        <%- include("../templates/footer")%>
    </main>


    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</body>

</html>