@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
:root {
    --primary-color: #fff;
    --primary-color-hover: #ccc;
    --secondary-color: #ffc107;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* font-family: Tahoma, Georgia, cursive !important; */
}

nav ul a {
    color: #eee;
}

#index-header {
    background: #000 !important;
}

header {
    position: relative;
    overflow-x: hidden;
    font-family: 'Lobster Two', cursive !important;
}

header nav a:hover {
    color: var(--primary-color);
}

header .changing-text {
    transition: transform .5s;
}

header section .slantLine {
    max-width: 150px;
    height: 5px;
    border-radius: 28px;
    transform: rotate3d(1, 1, 1, -0.03turn);
}

header section img {
    height: 400px !important;
    max-width: 300px;
}

li {
    color: var(--primary-color);
}

#blob {
    top: 30%;
    position: absolute;
    right: -10px;
    width: 130px;
    border-radius: 100%;
    animation: roll 10s infinite linear;
}

#indexpagemain {
    background: #fff;
    border-radius: 50px 50px 0 0;
    height: 100px;
    position: relative;
    margin-top: -50px;
}

.bitmoji {
    position: absolute;
    left: 120px;
    top: 290px;
    width: 300px;
    transform: rotate(-10deg);
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    header section .slantLine {
        max-width: 180px;
    }
    #blob {
        top: 13%;
    }
}

@media screen and (max-width: 575.97px) {
    #products {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    #products img {
        max-height: 130px !important;
    }
    .card {}
    .card-title {
        font-size: 18px !important;
    }
    .card-body,
    .card-footer {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .card-body .flex-row {
        flex-direction: column !important;
        font-size: 16px !important;
    }
    .card-footer {
        font-size: 16px !important;
    }
    #products div {
        /* display: block !important; */
    }
    .p-mobile {
        font-size: 14px !important;
    }
}