<footer class="bg-black text-center mt-0">
    <div class="row container d-fle justify-content-center py-4 mx-auto ">
        <div class="col-md-5 ">
            <h2 class="h1 ">About</h2>
            <p class="text-20 ">Anike Ologo, the official website. Our utmost priority is to serve our client to their taste, and also exceed their expectations in customer service. </p>
        </div>
        <div class="col-md-5">
            <h2 class="h1 ">Socials</h2>
            <div class="d-flex justify-content-center ">
                <a href="https://www.facebook.com/yowamusic " class="nav-link text-pink text-40 ">
                    <i class="fab fa-facebook "></i>
                </a>
                <a href="https://www.instagram.com/yowa_music/ " class="nav-link text-pink text-40 ">
                    <i class="fab fa-instagram "></i>
                </a>
                <a href="https://twitter.com/iamyowa " class="nav-link text-pink text-40 ">
                    <i class="fab fa-twitter "></i>
                </a>
            </div>
        </div>
    </div>
    <div class=" text-center ">
        <p class="text-18 mb-1 "> &copy; 2021, all rights reserved.</p>
        <p class="mb-0 pb-2 "> Built by <a class="text-decoration-none text-pink " href="mailto:remilekunelijah21997 ">Remilekun Elijah</a>.
        </p>
    </div>

</footer>